/* page.module.css */

.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: #333;
  padding: 20px;
}

.title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.description {
  font-size: 1.2rem;
  color: #555;
  max-width: 600px;
  margin-bottom: 30px;
  text-align: center;
}

.startButton {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.startButton:hover {
  background-color: aliceblue;
  color: black;
}
.goBackButton {
  background-color: aliceblue;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.goBackButton:hover {
  background-color: black;
  color: white;
}
